@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200; 500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

.App {
  font-family: var(--main-font);
  font-weight: 200;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
